*~
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*.cbp
Project.layout
bin
/nbproject/private/
/build/src/
/build/testsrc/
nbproject
coverage
src/MemoryProfiler/MemoryProfiler-build-desktop/
src/PGSEditor-build-desktop/
